.App {
  font-family: sans-serif;
  text-align: center;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerImg {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25%;
}

p {
  margin-left: 5%;
  display: inline-block;
}

img {
  height: 250px;
  width: 250px;
  margin-left: 5%;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
